#state___shared
{
}
#state___initial
{
}
#state___rs2ModalIn
{
}
#state___rs4ModalIn
{
}
#state___rs4
{
}
#jbShellWithBlankCanvas
{
    position: absolute;
    left: 0px;
    width: 1280px;
    top: 0px;
    height: 760px;
    background-image: url(images/jbShellWithBlankCanvasImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
}
#emailConfigured
{
    position: absolute;
    left: 505px;
    width: 218px;
    top: 291px;
    height: 56px;
    background-image: url(images/emailConfiguredImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
}
#rsactivities____hoverIndicator
{
}
#randomSplitDragger____hoverIndicator___dragHelper
{
    position: absolute;
    left: 21px;
    width: 228px;
    top: 446px;
    height: 25px;
    background-image: url(images/randomSplitActivityButtonHoverIndicatorImageImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
    -webkit-border-radius: 3px 3px 3px 3px;
       -moz-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
}
#randomSplitDragger____rpd__draggable_dropson_rsactivities__ondrop_gotostate_rs2ModalIn___button___next
{
    position: absolute;
    left: 21px;
    width: 228px;
    top: 446px;
    height: 25px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0);
    border: none;
}
#rsactivities____rpd__isdroptarget_accepts_randomSplitDragger
{
    position: absolute;
    left: 480px;
    width: 151px;
    top: 267px;
    height: 103px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0);
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
       -moz-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
}
#overylay1
{
    position: absolute;
    left: -1px;
    width: 1281px;
    top: 1px;
    height: 760px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.673);
    border: none;
}
#randomSplitModal
{
}
#overylay2
{
    position: absolute;
    left: -1px;
    width: 1281px;
    top: 1px;
    height: 760px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.673);
    border: none;
}
#rs4ModalIn
{
    position: absolute;
    left: 299px;
    width: 682px;
    top: 104px;
    height: 269px;
    background-image: url(images/rs4ModalInImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
    -webkit-box-shadow: 0px 4px 14px 0 rgb(0, 0, 0);
       -moz-box-shadow: 0px 4px 14px 0 rgb(0, 0, 0);
            box-shadow: 0px 4px 14px 0 rgb(0, 0, 0);
}
#gotoRs4____button___next
{
    position: absolute;
    left: 910px;
    width: 50px;
    top: 341px;
    height: 21px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0);
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
       -moz-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
}
#bg
{
    position: absolute;
    left: 472px;
    width: 808px;
    top: 188px;
    height: 572px;
    background-image: url(images/bgImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
}
#rs4
{
    position: absolute;
    left: 533px;
    width: 267px;
    top: 290px;
    height: 280px;
    background-image: url(images/rs4Image.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
}
#then
{
    position: absolute;
    left: 572px;
    width: 73px;
    top: 293px;
    height: 20px;
    background-image: url(images/thenImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
}
#times
{
    position: absolute;
    left: 688px;
    width: 68px;
    top: 293px;
    height: 275px;
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
}
#randomSplitDroppingHelper
{
    position: absolute;
    left: 473px;
    width: 65px;
    top: 267px;
    height: 103px;
    background-image: url(images/smallDropTarget.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
}
#randomSplitDroppingHelper2
{
    position: absolute;
    left: 566px;
    width: 65px;
    top: 267px;
    height: 103px;
    background-image: url(images/smallDropTarget.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
}
#rs2ModalIn
{
    position: absolute;
    left: 299px;
    width: 682px;
    top: 104px;
    height: 269px;
    background-image: url(images/rs2ModalInImage.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    border: none;
    -webkit-box-shadow: 0px 4px 14px 0 rgb(0, 0, 0);
       -moz-box-shadow: 0px 4px 14px 0 rgb(0, 0, 0);
            box-shadow: 0px 4px 14px 0 rgb(0, 0, 0);
}
#gotoModal4____button___next
{
    position: absolute;
    left: 517px;
    width: 50px;
    top: 170px;
    height: 21px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0);
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
       -moz-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
}
