<div class="attribute-list">
	<div class="category">
		<a href="" class="is-att-category-name open">
		<span>
		</span>
		Abandoned_Cart
	</a>
	<ul style="display: block;">
		<li class="ui-draggable">
			Abandon_Category
		</li>
		<li class="ui-draggable">
			Abandon_Date
		</li>
		<li class="ui-draggable">
			Abandon_Step
		</li>
		<li class="ui-draggable">
			AbandonID
		</li>
		<li class="ui-draggable">
			Cart_Total
		</li>
		<li class="ui-draggable">
			CustomerID
		</li>
		<li class="ui-draggable">
			Number_of_Items
		</li>
		<li class="ui-draggable">
			SKU
		</li>
	</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Advance
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Birth_Date
	</li>
	<li class="ui-draggable">
		Campaign
	</li>
	<li class="ui-draggable">
		Coupon Status
	</li>
	<li class="ui-draggable">
		Customer_ID
	</li>
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		First_Name
	</li>
	<li class="ui-draggable">
		Frequent Buyer Status
	</li>
	<li class="ui-draggable">
		Mobile
	</li>
	<li class="ui-draggable">
		Print Mail
	</li>
	<li class="ui-draggable">
		Product Indicator
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	AF Purchases
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		SKU Fund Number
	</li>
	<li class="ui-draggable">
		Total
	</li>
	<li class="ui-draggable">
		Unit Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	AF Retirement Series
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		CUSIP Number
	</li>
	<li class="ui-draggable">
		Fiscal Year-End
	</li>
	<li class="ui-draggable">
		Fund Inception
	</li>
	<li class="ui-draggable">
		Min Initial Investment
	</li>
	<li class="ui-draggable">
		PDF Annual Report
	</li>
	<li class="ui-draggable">
		PDF Prospectus
	</li>
	<li class="ui-draggable">
		Quotron Symbol
	</li>
	<li class="ui-draggable">
		Regular Dividends Paid
	</li>
	<li class="ui-draggable">
		Shareholder Accounts
	</li>
	<li class="ui-draggable">
		SKU Fund Number
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	AF Salesforce Contacts
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		City
	</li>
	<li class="ui-draggable">
		Contact ID
	</li>
	<li class="ui-draggable">
		Country
	</li>
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Dealer Permission
	</li>
	<li class="ui-draggable">
		Direct Mail Opt In
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Mobile Number
	</li>
	<li class="ui-draggable">
		Mobile Opt In
	</li>
	<li class="ui-draggable">
		State
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Zip
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	AF Webinar Attendees
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Join Datetime
	</li>
	<li class="ui-draggable">
		Leave Datetime
	</li>
	<li class="ui-draggable">
		Minutes Attended
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Webinar ID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	AF Webinars
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Date
	</li>
	<li class="ui-draggable">
		Description
	</li>
	<li class="ui-draggable">
		Event Duration in Minutes
	</li>
	<li class="ui-draggable">
		Featured SKU Fund Number
	</li>
	<li class="ui-draggable">
		Presenter1
	</li>
	<li class="ui-draggable">
		Recording Link
	</li>
	<li class="ui-draggable">
		Title
	</li>
	<li class="ui-draggable">
		Type
	</li>
	<li class="ui-draggable">
		Webinar ID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Alert_FC
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		AlertID
	</li>
	<li class="ui-draggable">
		date
	</li>
	<li class="ui-draggable">
		DestCode
	</li>
	<li class="ui-draggable">
		DestName
	</li>
	<li class="ui-draggable">
		OrgCode
	</li>
	<li class="ui-draggable">
		OrgName
	</li>
	<li class="ui-draggable">
		SubscirberID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Ann Taylor
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Acquired Channel
	</li>
	<li class="ui-draggable">
		Birth Date
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		Favorite Store
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Communication Date
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Last Purchase Date
	</li>
	<li class="ui-draggable">
		Loyalty Status
	</li>
	<li class="ui-draggable">
		Mobile
	</li>
	<li class="ui-draggable">
		Mobile Application Address
	</li>
	<li class="ui-draggable">
		Number of Purchases
	</li>
	<li class="ui-draggable">
		Preference
	</li>
	<li class="ui-draggable">
		Preferred Channel
	</li>
	<li class="ui-draggable">
		Sales Consultant
	</li>
	<li class="ui-draggable">
		Sign Up date
	</li>
	<li class="ui-draggable">
		State
	</li>
	<li class="ui-draggable">
		Subscriber Key
	</li>
	<li class="ui-draggable">
		Zip Code
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	bootcamp basics
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		registrantEmail
	</li>
	<li class="ui-draggable">
		valueOfTraining
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	CET Offers
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		CID_1
	</li>
	<li class="ui-draggable">
		CID_1_Copy
	</li>
	<li class="ui-draggable">
		CID_1_DisclFront
	</li>
	<li class="ui-draggable">
		CID_1_Exclusion Date
	</li>
	<li class="ui-draggable">
		CID_1_Tag
	</li>
	<li class="ui-draggable">
		CID_1_Title
	</li>
	<li class="ui-draggable">
		CID_1_Type
	</li>
	<li class="ui-draggable">
		CID_1CpnID
	</li>
	<li class="ui-draggable">
		CID_1CpnType
	</li>
	<li class="ui-draggable">
		CID_2
	</li>
	<li class="ui-draggable">
		CID_2_Copy
	</li>
	<li class="ui-draggable">
		CID_2_DisclFront
	</li>
	<li class="ui-draggable">
		CID_2_Exclusion Date
	</li>
	<li class="ui-draggable">
		CID_2_Tag
	</li>
	<li class="ui-draggable">
		CID_2_Title
	</li>
	<li class="ui-draggable">
		CID_2_Type
	</li>
	<li class="ui-draggable">
		CID_2CpnID
	</li>
	<li class="ui-draggable">
		CID_2CpnType
	</li>
	<li class="ui-draggable">
		CpnVersion
	</li>
	<li class="ui-draggable">
		Left2
	</li>
	<li class="ui-draggable">
		LetterCode
	</li>
	<li class="ui-draggable">
		Market
	</li>
	<li class="ui-draggable">
		MktShort
	</li>
	<li class="ui-draggable">
		Offer ID
	</li>
	<li class="ui-draggable">
		Property
	</li>
	<li class="ui-draggable">
		Property Name
	</li>
	<li class="ui-draggable">
		Redeem_ID_1
	</li>
	<li class="ui-draggable">
		Redeem_ID_2
	</li>
	<li class="ui-draggable">
		RID
	</li>
	<li class="ui-draggable">
		Tag
	</li>
	<li class="ui-draggable">
		Template_ID
	</li>
	<li class="ui-draggable">
		Tier_Worth
	</li>
	<li class="ui-draggable">
		ValidDates
	</li>
	<li class="ui-draggable">
		WorthSeg
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Concerts
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Event_Artist
	</li>
	<li class="ui-draggable">
		Event_Date
	</li>
	<li class="ui-draggable">
		Event_Title
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		TicketPurchase_Date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Contact
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Contact ID
	</li>
	<li class="ui-draggable">
		Contact Key
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Credits
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Credit Amount
	</li>
	<li class="ui-draggable">
		Credit ID
	</li>
	<li class="ui-draggable">
		Credit Method
	</li>
	<li class="ui-draggable">
		Return ID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Credits 2
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Credit Amount
	</li>
	<li class="ui-draggable">
		Credit ID
	</li>
	<li class="ui-draggable">
		Credit Method
	</li>
	<li class="ui-draggable">
		Return ID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	CSAT_Survey
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Overall_Rating
	</li>
	<li class="ui-draggable">
		Shipment_ID
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Survey_date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Customer Data
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer Since
	</li>
	<li class="ui-draggable">
		Direct Mail Preference
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		Email Alert Preference
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Last Payment Received Amount
	</li>
	<li class="ui-draggable">
		Last Payment Received Date
	</li>
	<li class="ui-draggable">
		Mailing Address
	</li>
	<li class="ui-draggable">
		Mailing City
	</li>
	<li class="ui-draggable">
		Mailing State
	</li>
	<li class="ui-draggable">
		Mailing Zip
	</li>
	<li class="ui-draggable">
		Minimum Amount Due
	</li>
	<li class="ui-draggable">
		Payment Due Date
	</li>
	<li class="ui-draggable">
		Push Alert Preference
	</li>
	<li class="ui-draggable">
		SMS Alert Preference
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Dan S 3 25
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		MadeUpID
	</li>
	<li class="ui-draggable">
		Purchase Date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Dan Sheehan JB 1_28_14
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		eventinstanceid
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	DES 3_27
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	DR Log Splitter
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		datestamp
	</li>
	<li class="ui-draggable">
		emailaddress
	</li>
	<li class="ui-draggable">
		sendpackage
	</li>
	<li class="ui-draggable">
		subscriberkey
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	DR Mailing Field and Brush
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		datestamp
	</li>
	<li class="ui-draggable">
		sendbrochure
	</li>
	<li class="ui-draggable">
		subscriber_id
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Email Addresses
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		HTML Enabled
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Email Demographics
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Address 1
	</li>
	<li class="ui-draggable">
		Address 2
	</li>
	<li class="ui-draggable">
		Category Preference
	</li>
	<li class="ui-draggable">
		Channel Preference
	</li>
	<li class="ui-draggable">
		City
	</li>
	<li class="ui-draggable">
		Contact ID
	</li>
	<li class="ui-draggable">
		Contacts ID
	</li>
	<li class="ui-draggable">
		Country
	</li>
	<li class="ui-draggable">
		DOB
	</li>
	<li class="ui-draggable">
		Facebook Friends
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Follows on Twitter
	</li>
	<li class="ui-draggable">
		Gender
	</li>
	<li class="ui-draggable">
		Interest
	</li>
	<li class="ui-draggable">
		Is_a_Customer
	</li>
	<li class="ui-draggable">
		Language
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Last_Updated
	</li>
	<li class="ui-draggable">
		Likes on Facebook
	</li>
	<li class="ui-draggable">
		Mobile Number
	</li>
	<li class="ui-draggable">
		Move Lead Source
	</li>
	<li class="ui-draggable">
		myNTO
	</li>
	<li class="ui-draggable">
		myNTO_Balance
	</li>
	<li class="ui-draggable">
		myNTO_Status
	</li>
	<li class="ui-draggable">
		Opt_in_Date
	</li>
	<li class="ui-draggable">
		Opt_in_Source
	</li>
	<li class="ui-draggable">
		Preferred Store
	</li>
	<li class="ui-draggable">
		Program_Mobile_Updates
	</li>
	<li class="ui-draggable">
		Program_Newsletter
	</li>
	<li class="ui-draggable">
		Program_ProductUpdates
	</li>
	<li class="ui-draggable">
		Program_PromosAndOffers
	</li>
	<li class="ui-draggable">
		State
	</li>
	<li class="ui-draggable">
		Subcategory Preference
	</li>
	<li class="ui-draggable">
		Twitter Handle
	</li>
	<li class="ui-draggable">
		Zip or Postal Code
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Email_Clicks
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		LastClick_Alias
	</li>
	<li class="ui-draggable">
		LastClick_date
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		TotalClicks_180day
	</li>
	<li class="ui-draggable">
		TotalClicks_30day
	</li>
	<li class="ui-draggable">
		TotalClicks_7day
	</li>
	<li class="ui-draggable">
		TotalClicks_90day
	</li>
	<li class="ui-draggable">
		TotalClicks_Lifetime
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Email_Opens
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		LastOpen_date
	</li>
	<li class="ui-draggable">
		LastOpen_name
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		TotalOpens_180day
	</li>
	<li class="ui-draggable">
		TotalOpens_30day
	</li>
	<li class="ui-draggable">
		TotalOpens_7day
	</li>
	<li class="ui-draggable">
		TotalOpens_90day
	</li>
	<li class="ui-draggable">
		TotalOpens_Lifetime
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Email_Sends
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		LastSend_Campaign
	</li>
	<li class="ui-draggable">
		LastSend_Date
	</li>
	<li class="ui-draggable">
		LastSend_Name
	</li>
	<li class="ui-draggable">
		LastSend_Type
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		TotalSends_180day
	</li>
	<li class="ui-draggable">
		TotalSends_30day
	</li>
	<li class="ui-draggable">
		TotalSends_7day
	</li>
	<li class="ui-draggable">
		TotalSends_90day
	</li>
	<li class="ui-draggable">
		TotalSends_Lifetime
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Email_Unsubscribes
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Unsubscribe_Date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	helloWorldNTO
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		alternativeEmail
	</li>
	<li class="ui-draggable">
		EventInstanceID
	</li>
	<li class="ui-draggable">
		originEventStart
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	MKHAN
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Age
	</li>
	<li class="ui-draggable">
		EmailAddress
	</li>
	<li class="ui-draggable">
		MasterID
	</li>
	<li class="ui-draggable">
		Name
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	MobileConnect Demographics
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Contact ID
	</li>
	<li class="ui-draggable">
		EmailAddress
	</li>
	<li class="ui-draggable">
		Locale
	</li>
	<li class="ui-draggable">
		Mobile Number
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	MobilePush Demographics
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Application
	</li>
	<li class="ui-draggable">
		Contact ID
	</li>
	<li class="ui-draggable">
		Device ID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Motorola
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Gender
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Owner
	</li>
	<li class="ui-draggable">
		Source
	</li>
	<li class="ui-draggable">
		Subscriber Key
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Omni
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Birth Date
	</li>
	<li class="ui-draggable">
		Complete Review
	</li>
	<li class="ui-draggable">
		Customer Value
	</li>
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		First Stay Complete
	</li>
	<li class="ui-draggable">
		Guest ID
	</li>
	<li class="ui-draggable">
		Last Stay Date
	</li>
	<li class="ui-draggable">
		Loyalty Join Date
	</li>
	<li class="ui-draggable">
		Loyalty Points
	</li>
	<li class="ui-draggable">
		Loyalty Status
	</li>
	<li class="ui-draggable">
		Preferred Location
	</li>
	<li class="ui-draggable">
		Upcoming Stay Date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Order Lines
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Discount
	</li>
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Order Line ID
	</li>
	<li class="ui-draggable">
		Order Line Status
	</li>
	<li class="ui-draggable">
		Product ID
	</li>
	<li class="ui-draggable">
		Quantity
	</li>
	<li class="ui-draggable">
		Unit Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Order_Details
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		CustomerID
	</li>
	<li class="ui-draggable">
		Discount
	</li>
	<li class="ui-draggable">
		OrderID
	</li>
	<li class="ui-draggable">
		Quantity
	</li>
	<li class="ui-draggable">
		SKU
	</li>
	<li class="ui-draggable">
		Subtotal
	</li>
	<li class="ui-draggable">
		Unit_Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Order_Headers
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Activity_Tag
	</li>
	<li class="ui-draggable">
		CustomerID
	</li>
	<li class="ui-draggable">
		Delivery_Method
	</li>
	<li class="ui-draggable">
		Number_of_Items
	</li>
	<li class="ui-draggable">
		On_Sale
	</li>
	<li class="ui-draggable">
		OrderID
	</li>
	<li class="ui-draggable">
		Promo_Code
	</li>
	<li class="ui-draggable">
		Purchase_Channel
	</li>
	<li class="ui-draggable">
		Purchase_Date
	</li>
	<li class="ui-draggable">
		Shipping_Date
	</li>
	<li class="ui-draggable">
		StoreID
	</li>
	<li class="ui-draggable">
		Total_Amount
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Orders
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Grand Total
	</li>
	<li class="ui-draggable">
		Order Date
	</li>
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Order Number
	</li>
	<li class="ui-draggable">
		Order Status
	</li>
	<li class="ui-draggable">
		Order Total
	</li>
	<li class="ui-draggable">
		Tax Total
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Payments
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Payment Amount
	</li>
	<li class="ui-draggable">
		Payment ID
	</li>
	<li class="ui-draggable">
		Payment Method
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Payments 2
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Payment Amount
	</li>
	<li class="ui-draggable">
		Payment ID
	</li>
	<li class="ui-draggable">
		Payment Method
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Product
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Active
	</li>
	<li class="ui-draggable">
		Arrival_Date
	</li>
	<li class="ui-draggable">
		Average_Rating
	</li>
	<li class="ui-draggable">
		Last_Review_Text
	</li>
	<li class="ui-draggable">
		Number_of_Ratings
	</li>
	<li class="ui-draggable">
		Points_Price
	</li>
	<li class="ui-draggable">
		Product_Category
	</li>
	<li class="ui-draggable">
		Product_Description
	</li>
	<li class="ui-draggable">
		Product_Name
	</li>
	<li class="ui-draggable">
		Product_Subcategory
	</li>
	<li class="ui-draggable">
		Product_URL
	</li>
	<li class="ui-draggable">
		Quantity
	</li>
	<li class="ui-draggable">
		Related_Activity
	</li>
	<li class="ui-draggable">
		Retail_Price
	</li>
	<li class="ui-draggable">
		Sale_Price
	</li>
	<li class="ui-draggable">
		Season
	</li>
	<li class="ui-draggable">
		SKU
	</li>
	<li class="ui-draggable">
		StoreID
	</li>
	<li class="ui-draggable">
		Thumbnail_URL
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Products
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Arrival_Date
	</li>
	<li class="ui-draggable">
		Points_Price
	</li>
	<li class="ui-draggable">
		Product_Category
	</li>
	<li class="ui-draggable">
		Product_Description
	</li>
	<li class="ui-draggable">
		Product_Name
	</li>
	<li class="ui-draggable">
		Product_Subcategory
	</li>
	<li class="ui-draggable">
		Product_URL
	</li>
	<li class="ui-draggable">
		Related_Activity
	</li>
	<li class="ui-draggable">
		Retail_Price
	</li>
	<li class="ui-draggable">
		Sale_Price
	</li>
	<li class="ui-draggable">
		Season
	</li>
	<li class="ui-draggable">
		SKU
	</li>
	<li class="ui-draggable">
		Thumbnail_URL
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Promotional_High_Value
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Avg_Items_Per_Purchase
	</li>
	<li class="ui-draggable">
		Avg_Spend_Per_Purchase
	</li>
	<li class="ui-draggable">
		Avg_Spend_Per_Purchase_Instore
	</li>
	<li class="ui-draggable">
		Avg_Spend_Per_Purchase_Online
	</li>
	<li class="ui-draggable">
		Avg_Time_Between_Purchases
	</li>
	<li class="ui-draggable">
		Clicked_to_Sent
	</li>
	<li class="ui-draggable">
		Converted_to_Sent
	</li>
	<li class="ui-draggable">
		Days_Since_Opt-in
	</li>
	<li class="ui-draggable">
		EmailAddress
	</li>
	<li class="ui-draggable">
		First_Purchase_Date
	</li>
	<li class="ui-draggable">
		Last_Abandon_Category
	</li>
	<li class="ui-draggable">
		Last_Abandon_Date
	</li>
	<li class="ui-draggable">
		Last_Browse_Category
	</li>
	<li class="ui-draggable">
		Last_Browse_Date
	</li>
	<li class="ui-draggable">
		Last_Click_Date
	</li>
	<li class="ui-draggable">
		Last_Open_Date
	</li>
	<li class="ui-draggable">
		Last_Purchase_Category
	</li>
	<li class="ui-draggable">
		Last_Purchase_Date
	</li>
	<li class="ui-draggable">
		Last_Purchase_On_Sale
	</li>
	<li class="ui-draggable">
		Last_Send_Date
	</li>
	<li class="ui-draggable">
		Max_Time_Between_Purchases
	</li>
	<li class="ui-draggable">
		Number_of_Emails_Clicked
	</li>
	<li class="ui-draggable">
		Number_of_Emails_Converted
	</li>
	<li class="ui-draggable">
		Number_of_Emails_Opened
	</li>
	<li class="ui-draggable">
		Number_of_Emails_Sent
	</li>
	<li class="ui-draggable">
		Number_of_Purchases
	</li>
	<li class="ui-draggable">
		Number_of_Purchases_Instore
	</li>
	<li class="ui-draggable">
		Number_of_Purchases_Online
	</li>
	<li class="ui-draggable">
		Opened_to_Sent
	</li>
	<li class="ui-draggable">
		Percentage_Complete
	</li>
	<li class="ui-draggable">
		Percentage_Purchased_Instore
	</li>
	<li class="ui-draggable">
		Percentage_Purchased_Online
	</li>
	<li class="ui-draggable">
		Percentage_Sale_Items
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Time_Between_Purchases_Against_Avg
	</li>
	<li class="ui-draggable">
		Total_Spent
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Purchase_Aggregates
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Avg_DaysBetweenPurchases
	</li>
	<li class="ui-draggable">
		AvgOrderValue_Last180
	</li>
	<li class="ui-draggable">
		AvgOrderValue_Last30
	</li>
	<li class="ui-draggable">
		AvgOrderValue_Last365
	</li>
	<li class="ui-draggable">
		AvgOrderValue_Last60
	</li>
	<li class="ui-draggable">
		AvgOrderValue_Last90
	</li>
	<li class="ui-draggable">
		AvgOrderValue_LTD
	</li>
	<li class="ui-draggable">
		LastPurchaseDate
	</li>
	<li class="ui-draggable">
		OrderCount_Last180
	</li>
	<li class="ui-draggable">
		OrderCount_Last30
	</li>
	<li class="ui-draggable">
		OrderCount_Last365
	</li>
	<li class="ui-draggable">
		OrderCount_Last60
	</li>
	<li class="ui-draggable">
		OrderCount_Last90
	</li>
	<li class="ui-draggable">
		OrderCount_LTD
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		TotalSpend_LTD
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Push_GeoLocation
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		DeviceID
	</li>
	<li class="ui-draggable">
		EnterDate
	</li>
	<li class="ui-draggable">
		ExitDate
	</li>
	<li class="ui-draggable">
		GeoFence
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Push_OptIns
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		AppID
	</li>
	<li class="ui-draggable">
		DeviceID
	</li>
	<li class="ui-draggable">
		InstallDate
	</li>
	<li class="ui-draggable">
		PermissionDate
	</li>
	<li class="ui-draggable">
		PermissionType
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Retail Order Lines
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Discount
	</li>
	<li class="ui-draggable">
		Extended Price
	</li>
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Order Line ID
	</li>
	<li class="ui-draggable">
		Order Line Status
	</li>
	<li class="ui-draggable">
		Product ID
	</li>
	<li class="ui-draggable">
		Quantity
	</li>
	<li class="ui-draggable">
		Unit Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Retail Orders
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Grand Total
	</li>
	<li class="ui-draggable">
		Order Date
	</li>
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Order Number
	</li>
	<li class="ui-draggable">
		Order Status
	</li>
	<li class="ui-draggable">
		Order Total
	</li>
	<li class="ui-draggable">
		Tax Total
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Retail Products
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Product Description
	</li>
	<li class="ui-draggable">
		Product ID
	</li>
	<li class="ui-draggable">
		Product Name
	</li>
	<li class="ui-draggable">
		Product SKU
	</li>
	<li class="ui-draggable">
		Unit Cost
	</li>
	<li class="ui-draggable">
		Unit Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Retail Transactions
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Order Amount
	</li>
	<li class="ui-draggable">
		Order Date
	</li>
	<li class="ui-draggable">
		Order number
	</li>
	<li class="ui-draggable">
		Products
	</li>
	<li class="ui-draggable">
		Sales Tax
	</li>
	<li class="ui-draggable">
		Ship date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Return Lines
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Discount
	</li>
	<li class="ui-draggable">
		Order ID
	</li>
	<li class="ui-draggable">
		Product ID
	</li>
	<li class="ui-draggable">
		Quantity
	</li>
	<li class="ui-draggable">
		Return ID
	</li>
	<li class="ui-draggable">
		Return Reason
	</li>
	<li class="ui-draggable">
		Unit Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Return Lines 2
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Discount
	</li>
	<li class="ui-draggable">
		Extended Price
	</li>
	<li class="ui-draggable">
		Product ID
	</li>
	<li class="ui-draggable">
		Quantity
	</li>
	<li class="ui-draggable">
		Return ID
	</li>
	<li class="ui-draggable">
		Return Line ID
	</li>
	<li class="ui-draggable">
		Return Number
	</li>
	<li class="ui-draggable">
		Return Reason
	</li>
	<li class="ui-draggable">
		Unit Price
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Returns
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Grand Total
	</li>
	<li class="ui-draggable">
		Return ID
	</li>
	<li class="ui-draggable">
		Return Number
	</li>
	<li class="ui-draggable">
		Return Status
	</li>
	<li class="ui-draggable">
		Return Total
	</li>
	<li class="ui-draggable">
		Tax Total
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Returns 2
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Grand Total
	</li>
	<li class="ui-draggable">
		Return Date
	</li>
	<li class="ui-draggable">
		Return ID
	</li>
	<li class="ui-draggable">
		Return Number
	</li>
	<li class="ui-draggable">
		Return Status
	</li>
	<li class="ui-draggable">
		Return Total
	</li>
	<li class="ui-draggable">
		Tax Total
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	RJWF Donations
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Donor ID
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		First Donation
	</li>
	<li class="ui-draggable">
		First Donation Date
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Interest
	</li>
	<li class="ui-draggable">
		Last Donation Amt
	</li>
	<li class="ui-draggable">
		Last Donation Date
	</li>
	<li class="ui-draggable">
		State
	</li>
	<li class="ui-draggable">
		Total Donations
	</li>
	<li class="ui-draggable">
		Total Number of Donations
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Salesforce Events
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Billing_Status
	</li>
	<li class="ui-draggable">
		Biz_Dev_Voicemail
	</li>
	<li class="ui-draggable">
		Case_Create_On
	</li>
	<li class="ui-draggable">
		Case_Severity
	</li>
	<li class="ui-draggable">
		eventinstanceid
	</li>
	<li class="ui-draggable">
		Lead_Status_Change
	</li>
	<li class="ui-draggable">
		Renewal_Date
	</li>
	<li class="ui-draggable">
		SalesforceContactID
	</li>
	<li class="ui-draggable">
		SalesforceID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Sample Payment Data
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		Enrollment Date
	</li>
	<li class="ui-draggable">
		Last Payment Date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Scentsy Subscribers
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Date Joined
	</li>
	<li class="ui-draggable">
		Date Last Sale
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Level
	</li>
	<li class="ui-draggable">
		PRV
	</li>
	<li class="ui-draggable">
		Sales MTD
	</li>
	<li class="ui-draggable">
		Sales QTD
	</li>
	<li class="ui-draggable">
		Sales YTD
	</li>
	<li class="ui-draggable">
		Scentsy ID
	</li>
	<li class="ui-draggable">
		Sponsor
	</li>
	<li class="ui-draggable">
		Sponsored Active Cons
	</li>
	<li class="ui-draggable">
		Status
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	SearchHistory
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		CustomerID
	</li>
	<li class="ui-draggable">
		s_category
	</li>
	<li class="ui-draggable">
		s_cityDestination
	</li>
	<li class="ui-draggable">
		s_cityOrigin
	</li>
	<li class="ui-draggable">
		searchDate
	</li>
	<li class="ui-draggable">
		SearchID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	SearchHistory_FC
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		daysOut
	</li>
	<li class="ui-draggable">
		DestCode
	</li>
	<li class="ui-draggable">
		DestName
	</li>
	<li class="ui-draggable">
		OrgCode
	</li>
	<li class="ui-draggable">
		OrgName
	</li>
	<li class="ui-draggable">
		PassNumber
	</li>
	<li class="ui-draggable">
		SearchDate
	</li>
	<li class="ui-draggable">
		SearchID
	</li>
	<li class="ui-draggable">
		subscriberID
	</li>
	<li class="ui-draggable">
		TravelBegDate
	</li>
	<li class="ui-draggable">
		TravelendDate
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Shipping
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		DeliverBy_datetime
	</li>
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		OnTime
	</li>
	<li class="ui-draggable">
		Phone
	</li>
	<li class="ui-draggable">
		Ship_datetime
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Weather_Delay
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Shopping Cart
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Customer ID
	</li>
	<li class="ui-draggable">
		Is Abandon
	</li>
	<li class="ui-draggable">
		ShoppingCart ID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	SMS_Optins
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Keyword
	</li>
	<li class="ui-draggable">
		MessageType
	</li>
	<li class="ui-draggable">
		Mobile_Number
	</li>
	<li class="ui-draggable">
		Optin_date
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	STELARA DTC
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Application IP
	</li>
	<li class="ui-draggable">
		Birth Date
	</li>
	<li class="ui-draggable">
		Contact Source
	</li>
	<li class="ui-draggable">
		Contact_ID
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		Gender
	</li>
	<li class="ui-draggable">
		Last Prescription Fill Date
	</li>
	<li class="ui-draggable">
		Mobile Number
	</li>
	<li class="ui-draggable">
		Segment
	</li>
	<li class="ui-draggable">
		Segment Date
	</li>
	<li class="ui-draggable">
		State
	</li>
	<li class="ui-draggable">
		Status
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Stelara_Subscribers
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Contact Owner
	</li>
	<li class="ui-draggable">
		Contact_Add_Date
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		EventInstanceID
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Gender
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Segment
	</li>
	<li class="ui-draggable">
		Subscriber Key
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Subscriber_FC
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		DateSub
	</li>
	<li class="ui-draggable">
		email
	</li>
	<li class="ui-draggable">
		FirstName
	</li>
	<li class="ui-draggable">
		LastAlert
	</li>
	<li class="ui-draggable">
		LastName
	</li>
	<li class="ui-draggable">
		OrgCity
	</li>
	<li class="ui-draggable">
		OrgSt
	</li>
	<li class="ui-draggable">
		OrgZip
	</li>
	<li class="ui-draggable">
		tripCount
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Subscriber_Profile
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Advisor
	</li>
	<li class="ui-draggable">
		Age
	</li>
	<li class="ui-draggable">
		cusomterID
	</li>
	<li class="ui-draggable">
		DateAdded
	</li>
	<li class="ui-draggable">
		DOB
	</li>
	<li class="ui-draggable">
		email
	</li>
	<li class="ui-draggable">
		eventinstanceid
	</li>
	<li class="ui-draggable">
		FirstName
	</li>
	<li class="ui-draggable">
		Gender
	</li>
	<li class="ui-draggable">
		HomeAirport
	</li>
	<li class="ui-draggable">
		LastName
	</li>
	<li class="ui-draggable">
		Number_in_Family
	</li>
	<li class="ui-draggable">
		OriginCity
	</li>
	<li class="ui-draggable">
		Preference_Category
	</li>
	<li class="ui-draggable">
		Preference_City
	</li>
	<li class="ui-draggable">
		Preference_Country
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Subscribers
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Address1
	</li>
	<li class="ui-draggable">
		Address2
	</li>
	<li class="ui-draggable">
		Category_Preference
	</li>
	<li class="ui-draggable">
		Channel_Preference
	</li>
	<li class="ui-draggable">
		City
	</li>
	<li class="ui-draggable">
		DOB
	</li>
	<li class="ui-draggable">
		EmailAddress
	</li>
	<li class="ui-draggable">
		eventinstanceid
	</li>
	<li class="ui-draggable">
		Facebook_Friends
	</li>
	<li class="ui-draggable">
		First_Name
	</li>
	<li class="ui-draggable">
		Follows_on_Twitter
	</li>
	<li class="ui-draggable">
		Gender
	</li>
	<li class="ui-draggable">
		Interest
	</li>
	<li class="ui-draggable">
		Is_a_Customer
	</li>
	<li class="ui-draggable">
		Is_Active
	</li>
	<li class="ui-draggable">
		Language
	</li>
	<li class="ui-draggable">
		Last_Name
	</li>
	<li class="ui-draggable">
		Last_Updated
	</li>
	<li class="ui-draggable">
		Likes_on_Facebook
	</li>
	<li class="ui-draggable">
		Mobile_Number
	</li>
	<li class="ui-draggable">
		myNTO
	</li>
	<li class="ui-draggable">
		myNTO_Balance
	</li>
	<li class="ui-draggable">
		myNTO_Status
	</li>
	<li class="ui-draggable">
		Opt_in_Date
	</li>
	<li class="ui-draggable">
		Opt_in_Source
	</li>
	<li class="ui-draggable">
		Preferred_Store
	</li>
	<li class="ui-draggable">
		Program_Newsletter
	</li>
	<li class="ui-draggable">
		Program_ProductUpdates
	</li>
	<li class="ui-draggable">
		Program_PromosAndOffers
	</li>
	<li class="ui-draggable">
		State
	</li>
	<li class="ui-draggable">
		Subcategory_Preference
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
	<li class="ui-draggable">
		Twitter_Handle
	</li>
	<li class="ui-draggable">
		Zip
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Subscriptions
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Date_Added
	</li>
	<li class="ui-draggable">
		EmailAddress
	</li>
	<li class="ui-draggable">
		List_Name
	</li>
	<li class="ui-draggable">
		ListID
	</li>
	<li class="ui-draggable">
		SubscriberKey
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Tecfidera Enrollment Data
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Data Started
	</li>
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Is Prescribed
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		subscriberkey
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Tecfidera Prospect Scoring
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Prospect Score
	</li>
	<li class="ui-draggable">
		subscriberkey
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Tecfidera Registration
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		subscriberkey
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Tecfidera Welcome Kit
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		datestamp
	</li>
	<li class="ui-draggable">
		Send welcome Kit
	</li>
	<li class="ui-draggable">
		subscriberkey
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	TechOverviewDE
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		CRM-isActive
	</li>
	<li class="ui-draggable">
		email_address
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Test Dev Bootcamp Dan
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		ContactID
	</li>
	<li class="ui-draggable">
		EmailAddress
	</li>
	<li class="ui-draggable">
		FirstName
	</li>
	<li class="ui-draggable">
		LastName
	</li>
	<li class="ui-draggable">
		Phone
	</li>
	<li class="ui-draggable">
		UserID
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Test1_Copy
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		email
	</li>
	<li class="ui-draggable">
		first
	</li>
	<li class="ui-draggable">
		last
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Uber Riders
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
	<li class="ui-draggable">
		Last Ride Date
	</li>
	<li class="ui-draggable">
		Lifetime Rides
	</li>
	<li class="ui-draggable">
		Member Since
	</li>
	<li class="ui-draggable">
		Promo Code
	</li>
	<li class="ui-draggable">
		Rides Last 30 Days
	</li>
	<li class="ui-draggable">
		Rides Last 90 Days
	</li>
	<li class="ui-draggable">
		Subscriber Key
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Uber_Trip_Times
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		event
	</li>
	<li class="ui-draggable">
		time
	</li>
	<li class="ui-draggable">
		trip_id
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Uber_Trips_Master
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		actual_eta
	</li>
	<li class="ui-draggable">
		begintrip_at
	</li>
	<li class="ui-draggable">
		begintrip_lat
	</li>
	<li class="ui-draggable">
		begintrip_lng
	</li>
	<li class="ui-draggable">
		city_id
	</li>
	<li class="ui-draggable">
		client_fare
	</li>
	<li class="ui-draggable">
		client_fare_local
	</li>
	<li class="ui-draggable">
		client_fare_local_string
	</li>
	<li class="ui-draggable">
		client_feedback
	</li>
	<li class="ui-draggable">
		client_feedback_type_id
	</li>
	<li class="ui-draggable">
		client_feedback_type_summary
	</li>
	<li class="ui-draggable">
		client_id
	</li>
	<li class="ui-draggable">
		client_rating
	</li>
	<li class="ui-draggable">
		distance
	</li>
	<li class="ui-draggable">
		driver_fare
	</li>
	<li class="ui-draggable">
		driver_fare_local
	</li>
	<li class="ui-draggable">
		driver_fare_local_string
	</li>
	<li class="ui-draggable">
		driver_feedback
	</li>
	<li class="ui-draggable">
		driver_feedback_type_id
	</li>
	<li class="ui-draggable">
		driver_feedback_type_summary
	</li>
	<li class="ui-draggable">
		driver_id
	</li>
	<li class="ui-draggable">
		driver_rating
	</li>
	<li class="ui-draggable">
		dropoff_at
	</li>
	<li class="ui-draggable">
		dropoff_lat
	</li>
	<li class="ui-draggable">
		dropoff_lng
	</li>
	<li class="ui-draggable">
		duration
	</li>
	<li class="ui-draggable">
		fare
	</li>
	<li class="ui-draggable">
		fare_adjustment_retry
	</li>
	<li class="ui-draggable">
		fare_adjustments
	</li>
	<li class="ui-draggable">
		fare_adjustments_local
	</li>
	<li class="ui-draggable">
		fare_local
	</li>
	<li class="ui-draggable">
		fare_local_string
	</li>
	<li class="ui-draggable">
		fare_string
	</li>
	<li class="ui-draggable">
		flagged
	</li>
	<li class="ui-draggable">
		flagged_fare_status
	</li>
	<li class="ui-draggable">
		hour_of_week
	</li>
	<li class="ui-draggable">
		id
	</li>
	<li class="ui-draggable">
		invoice_ready
	</li>
	<li class="ui-draggable">
		notes
	</li>
	<li class="ui-draggable">
		partner_id
	</li>
	<li class="ui-draggable">
		pickup_local_time
	</li>
	<li class="ui-draggable">
		predicted_eta
	</li>
	<li class="ui-draggable">
		random_id
	</li>
	<li class="ui-draggable">
		request_at
	</li>
	<li class="ui-draggable">
		request_device
	</li>
	<li class="ui-draggable">
		request_lat
	</li>
	<li class="ui-draggable">
		request_lng
	</li>
	<li class="ui-draggable">
		request_vehicle_category_id
	</li>
	<li class="ui-draggable">
		request_vehicle_view_id
	</li>
	<li class="ui-draggable">
		status
	</li>
	<li class="ui-draggable">
		status_with_reason
	</li>
	<li class="ui-draggable">
		surge_multiplier
	</li>
	<li class="ui-draggable">
		tweet_id
	</li>
	<li class="ui-draggable">
		use_credits
	</li>
	<li class="ui-draggable">
		uuid
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Unica Contacts
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Contact Created Date
	</li>
	<li class="ui-draggable">
		Contact EAccountNumber
	</li>
	<li class="ui-draggable">
		Contact Email Preference Code
	</li>
	<li class="ui-draggable">
		Contact Email Promotion Option
	</li>
	<li class="ui-draggable">
		Contact Email Type Code
	</li>
	<li class="ui-draggable">
		Contact First Name
	</li>
	<li class="ui-draggable">
		Contact Last Name
	</li>
	<li class="ui-draggable">
		Contact Middle Initial
	</li>
	<li class="ui-draggable">
		Contact Status
	</li>
	<li class="ui-draggable">
		Contact Web User Name
	</li>
	<li class="ui-draggable">
		ContactOrdinal
	</li>
	<li class="ui-draggable">
		ContactSeq
	</li>
	<li class="ui-draggable">
		Customer Code
	</li>
	<li class="ui-draggable">
		Customer Name
	</li>
	<li class="ui-draggable">
		Customer Status
	</li>
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		Marketing Contact Email Marketing Flag
	</li>
	<li class="ui-draggable">
		Marketing Contact Sequence
	</li>
	<li class="ui-draggable">
		Marketing Entity Segment Level 2
	</li>
	<li class="ui-draggable">
		Marketing Entity Segment Level 3
	</li>
	<li class="ui-draggable">
		Marketing Entity Segment Level 4
	</li>
	<li class="ui-draggable">
		Marketing Site Sequence
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Unica Feed Staging
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Cell_Code
	</li>
	<li class="ui-draggable">
		Customer_Code
	</li>
	<li class="ui-draggable">
		Demo_Code
	</li>
	<li class="ui-draggable">
		Email_Marketing_Flag
	</li>
	<li class="ui-draggable">
		FMP Job ID
	</li>
	<li class="ui-draggable">
		Market
	</li>
	<li class="ui-draggable">
		Market_Contact_ID
	</li>
	<li class="ui-draggable">
		Marketing_Site
	</li>
	<li class="ui-draggable">
		Offer ID
	</li>
	<li class="ui-draggable">
		Promo Flag 1
	</li>
	<li class="ui-draggable">
		Promo Flag 2
	</li>
	<li class="ui-draggable">
		Promo Flag 3
	</li>
	<li class="ui-draggable">
		Promo_Code
	</li>
	<li class="ui-draggable">
		Property
	</li>
	<li class="ui-draggable">
		Tier_Worth
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	UX_test_1
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Email Address
	</li>
	<li class="ui-draggable">
		First Name
	</li>
	<li class="ui-draggable">
		Last Name
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Website_PageViews
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Date
	</li>
	<li class="ui-draggable">
		ExternalVisitorID
	</li>
	<li class="ui-draggable">
		Pages
	</li>
	<li class="ui-draggable">
		PageViews
	</li>
	<li class="ui-draggable">
		Visits
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	Website_Tracking
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		CampaignID
	</li>
	<li class="ui-draggable">
		CustomerID
	</li>
	<li class="ui-draggable">
		Event_Date
	</li>
	<li class="ui-draggable">
		Event_Type
	</li>
	<li class="ui-draggable">
		Product_Category
	</li>
	<li class="ui-draggable">
		SKU
	</li>
</ul>
</div>
<div class="category">
	<a href="" class="is-att-category-name">
	<span>
	</span>
	WebTrends
</a>
<ul style="display: none;">
	<li class="ui-draggable">
		Date
	</li>
	<li class="ui-draggable">
		ExternalVisitorID
	</li>
	<li class="ui-draggable">
		Newfield
	</li>
	<li class="ui-draggable">
		Pages
	</li>
	<li class="ui-draggable">
		PageViews
	</li>
	<li class="ui-draggable">
		Visits
	</li>
</ul>
</div>
</div>
